@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

//defining varibles
$primary-color: #270015;
$primary-font: "Amatic SC";
$secondary-color: white;
$defualt-font-size: 6vmin;
//body
body {
    margin: 0;
    height: 100vh;
    background-color: #270015;
    background-image: url("https://www.linkpicture.com/q/100-50-15.png");
    background-size: auto;
    background-repeat: repeat;
    overflow-x: hidden;
}
.dark-mode {
    background-color: #25265c !important;
    background-image: url("https://www.linkpicture.com/q/100-50-15.png");
    background-size: auto;
    background-repeat: repeat;
}
//creatng the header ( consiting off the website name, dark mode option and nav
.header {
    display: grid;
    grid-template-columns: 2fr 3fr 1.5fr 1.5fr;
    grid-template-areas: "website-name . dark-mode-toggle menu-toggle";
    .website-name {
        padding: 30px;
        font-size: $defualt-font-size;
        color: $secondary-color;
        font-family: $primary-font;
        margin-left: 10%;
        margin-top: 7%;
        text-decoration: none;
    }

    .dark-mode-toggle {
        grid-area: dark-mode-toggle;
        justify-self: center;
        align-self: center;
        margin-top: 20%;
        .dark-mode-checkbox {
            display: none;
        }
        .dark-mode-icon {
            font-size: 1.6rem;
            color: $secondary-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .menu-toggle {
        grid-area: menu-toggle;
        align-self: center;
        width: 30px;
        margin-top: 20%;
        #menu-toggler {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
.menu-toggled-one {
    animation-name: menu-toggled-animation-one;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-delay: 0ms;
}

@keyframes menu-toggled-animation-one {
    10% {
        margin-top: 30% !important;
    }
}
@media screen and (max-width: 480px) {
    .dark-mode-toggle {
        margin-top: 45%;
        padding-right: 10%;
    }
    .dark-mode-toggle .dark-mode-icon {
        font-size: 1.2rem !important;
    }
}

// body-elements

.main-body {
    display: grid;
    grid-template-columns: 25% 1.5fr 6fr 10%;
    gap:10px;
    grid-auto-rows: 200px;
    .languages {
        font-size: calc($defualt-font-size * 2);
        color: $secondary-color;
        font-family: $primary-font;
        margin-top: 9%;
        margin-bottom: 0%;
        grid-column: 2/5;
        grid-row: 1;
    }

    .introduction-name {
        font-family: $primary-font;
        color: $secondary-color;
        font-size: calc($defualt-font-size * 2);
        margin-top: 11%;
        grid-column: 3/5;
        grid-row: 1;
    }
    .introduction-profession{
        font-family: $primary-font;
        color: $secondary-color;
        font-size: $defualt-font-size;
        grid-column: 2/5;
        grid-row: 2;
        margin-top: 0%;

    }
}
@media screen and (max-width: 800px) {
    .main-body {
        display: grid;
        .languages {
            margin-top: 10%;
            margin-right: 15%;
            margin-left: 60%;
            
        }
        .introduction-name {
            margin-top: 0%;
            margin-right: 10%;
            margin-left: auto;
        }
        .introduction-profession{
            margin-right: 10%;
            margin-left: auto;


        }
    }
}

@media screen and (max-width: 1300px){
    
    .main-body{
        .languages,.introduction-name{
            font-size: 7vmin;
        }
        .introduction-profession{
            font-size: 3vmin;
            margin-top: 0%;
        }
    }

}
